    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    <div th:each="country : ${listOfCountry}">
        <a th:href="@{/{id}(id=${country.getId()})}"
           th:text="${country.getName()}">user</a>
    </div>

    <input id="ID" name="ID">
    <a href="#" onclick="redirectToId()">id</a>

    <script>
    function redirectToId() {
        var id = document.getElementById("ID").value;
        window.location.href = "/" + id;
    }
    </script>
    </body>
    </html>
