<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h1>Country Info:</h1>

<p><strong>Name: </strong><span th:text="${man.getName()}"></span></p>

<p><strong>ID: </strong><span th:text="${man.getId()}"></span></p>

<p><strong>Capital: </strong><span th:text="${man.getCapital()}"></span></p>

<p><strong>Area: </strong><span th:text="${man.getArea()}"></span></p>

<p><strong>GDP: </strong><span th:text="${man.getGdp()}"></span></p>

<p><strong>Population: </strong><span th:text="${man.getPopulation()}"></span></p>

<form th:action="@{/{id}(id=${man.id})}" method="POST">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="Delete" />
</form>

<form th:action="@{'/' + ${man.id} + '/edit'}" method="GET">
    <input type="submit" value="Edit" />
</form>

</body>

</html>
