<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>

<p th:text="${country.getName()}">VALUE</p>

<p th:text="${country.getId()}">VALUE</p>

<p th:text="${country.getCapital()}">VALUE</p>

<p th:text="${country.getArea()}">VALUE</p>

<p th:text="${country.getGdp()}">VALUE</p>

<p th:text="${country.getPopulation()}">VALUE</p>

<form th:action="@{/{id}(id=${country.id})}" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete"/>
</form>

<form th:action="@{'/' + ${country.id} + '/edit'}" method="GET">
    <input type="submit" value="Edit"/>
</form>

</body>

</html>