<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Country Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>

<div class="container mt-5">
    <h1 class="mb-4">Country Info:</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Name:</th>
                <td th:text="${man.getName()}"></td>
            </tr>
            <tr>
                <th>ID:</th>
                <td th:text="${man.getId()}"></td>
            </tr>
            <tr>
                <th>Capital:</th>
                <td th:text="${man.getCapital()}"></td>
            </tr>
            <tr>
                <th>Area:</th>
                <td th:text="${man.getArea()}"></td>
            </tr>
            <tr>
                <th>GDP:</th>
                <td th:text="${man.getGdp()}"></td>
            </tr>
            <tr>
                <th>Population:</th>
                <td th:text="${man.getPopulation()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <form th:action="@{/{id}(id=${man.id})}" method="POST">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="col-sm-6 text-right">
            <form th:action="@{'/' + ${man.id} + '/edit'}" method="GET">
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>

</body>

</html>
